@import url("https://fonts.googleapis.com/css2? семья = Exo+2:wght@400;600 & display=swap");

body {
  font-family: "Exo 2", sans-serif;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.container {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}

/* header */

.header {
  background-image: url("../images/header__fon.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 40%;
  height: 70vh;
}

.header__wrap {
  display: flex;
  align-items: center;
  padding: 25px 0 45px;
}

.header__text {
}
.header__text--title {
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 125%;
  padding-bottom: 40px;
}
.header__text--subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 40px;
}
.header_text--btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #363738;
  padding-bottom: 10px;
  border-bottom: 3px solid #ffce50;
  transition: 0.2s;
}

.header_text--btn:hover {
  color: #939393;
}

.header__img {
  border-radius: 25px;
}

/* search */

.search {
}
.search__items {
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.search__item {
  max-width: 235px;
  padding: 40px 0 56px;
}

.search__item h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  padding-top: 26px;
  padding-bottom: 16px;
}

/* sphere */

.sphere {
  margin: 400px 0 100px;
}

.sphere__wrap {
  display: flex;
}

.sphere__info {
  max-width: 720px;
}
.sphere__title {
}

.sphere__form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 40px;
}
.sphere__form--item {
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.sphere__form--item_wrap {
  display: flex;
  align-items: flex-start;
  padding: 40px 155px 48px 40px;
}

/* .sphere__form--item + .sphere__form--item {
  padding-bottom: 10px;
} */

.sphere__form--item__label {
  padding-left: 32px;
}

.sphere__form--item__label h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  padding-bottom: 24px;
}

.sphere__form--item__label p {
  width: 466px;
}

.sphere__vote {
  display: flex;
}

.sphere__vote_wrap {
  display: flex;
  flex-direction: column;
  padding: 163px 0px 0px 140px;
}

.sphere__vote-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

.sphere__vote-number {
  display: flex;
  align-items: flex-end;
  border-bottom: 3px solid #ffce50;
}

.sphere__vote-number span {
  font-weight: 600;
  font-size: 54px;
  line-height: 150%;
  letter-spacing: 0.3em;
}

.sphere__vote-number p {
  color: #363738;
  padding-bottom: 15px;
}

/* about */

.about {
    margin-bottom: 120px;
}

.about__foto {
  background-image: url("../images/about__img.jpg");
  background-repeat: no-repeat;
  background-position: right;
  height: 453px;
  position: relative;
  margin-bottom: 70px;
}

.about__title--wrap {
  position: absolute;
  background: #0b7572;
  width: 64%;
  height: 100%;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, 50% 0, 86% 100%, 0 100%, 0 0);
}

.about__title {
  width: 430px;
  color: #ffffff;
  position: absolute;
  left: 100px;
}

.about__shadow {
  position: absolute;
  width: 551px;
  height: 453px;
  left: 380px;
  clip-path: polygon(0 0, 47% 0, 100% 100%, 0 100%, 0 0);
  background: rgba(11, 117, 114, 0.3);
}

.about__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  justify-items: center;
}
.about__item {
  display: flex;
}

.about__item img {
  padding-right: 40px;
}

.about__item--text {
  width: 300px;
}

.about__item--text h3 {
  padding-bottom: 5px;
}