@import url("https://fonts.googleapis.com/css2? семья = Exo+2:wght@400;600 & display=swap");

body {
  font-family: "Exo 2", sans-serif;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.container {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}

/* header */

.header {
  background-image: url("../images/header__fon.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 40%;
  height: 70vh;
}

.header__wrap {
  display: flex;
  align-items: center;
  padding: 25px 0 45px;
}

.header__text {
}
.header__text--title {
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 125%;
  padding-bottom: 40px;
}
.header__text--subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 40px;
}
.header_text--btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #363738;
  padding-bottom: 10px;
  border-bottom: 3px solid #ffce50;
  transition: 0.2s;
}

.header_text--btn:hover {
  color: #939393;
}

.header__img {
  border-radius: 25px;
}

/* search */

.search {
}
.search__items {
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.search__item {
  max-width: 235px;
  padding: 40px 0 56px;
}

.search__item h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  padding-top: 26px;
  padding-bottom: 16px;
}

/* sphere */

.sphere {
  margin: 400px 0 100px;
}

.sphere__wrap {
  display: flex;
}

.sphere__info {
  max-width: 720px;
}
.sphere__title {
}

.sphere__form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 40px;
}
.sphere__form--item {
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.sphere__form--item_wrap {
  display: flex;
  align-items: flex-start;
  padding: 40px 155px 48px 40px;
}

/* .sphere__form--item + .sphere__form--item {
  padding-bottom: 10px;
} */

.sphere__form--item__label {
  padding-left: 32px;
}

.sphere__form--item__label h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  padding-bottom: 24px;
}

.sphere__form--item__label p {
  width: 466px;
}

.sphere__vote {
  display: flex;
}

.sphere__vote_wrap {
  display: flex;
  flex-direction: column;
  padding: 163px 0px 0px 140px;
}

.sphere__vote-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

.sphere__vote-number {
  display: flex;
  align-items: flex-end;
  border-bottom: 3px solid #ffce50;
}

.sphere__vote-number span {
  font-weight: 600;
  font-size: 54px;
  line-height: 150%;
  letter-spacing: 0.3em;
}

.sphere__vote-number p {
  color: #363738;
  padding-bottom: 15px;
}

/* about */

.about {
  margin-bottom: 120px;
}

.about__foto {
  background-image: url("../images/about__img.jpg");
  background-repeat: no-repeat;
  background-position: right;
  height: 453px;
  position: relative;
  margin-bottom: 70px;
}

.about__title--wrap {
  position: absolute;
  background: #0b7572;
  width: 64%;
  height: 100%;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, 50% 0, 86% 100%, 0 100%, 0 0);
}

.about__title {
  width: 430px;
  color: #ffffff;
  position: absolute;
  left: 100px;
}

.about__shadow {
  position: absolute;
  width: 551px;
  height: 453px;
  left: 380px;
  clip-path: polygon(0 0, 47% 0, 100% 100%, 0 100%, 0 0);
  background: rgba(11, 117, 114, 0.3);
}

.about__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  justify-items: center;
}
.about__item {
  display: flex;
}

.about__item img {
  padding-right: 40px;
}

.about__item--text {
  width: 300px;
}

.about__item--text h3 {
  padding-bottom: 5px;
}

/* slider */

.slider {
}

.slider__title {
  padding-bottom: 32px;
}

.slider__subtitle {
  padding-bottom: 56px;
}

.my__swiper {
  padding-bottom: 66px;
}

.swiper-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
}

.swiper-slide {
  width: 393px;
  height: 470px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.swiper-slide--text {
  padding: 0 23px 0 70px;
}

.swiper-slide img {
  padding-bottom: 24px;
  width: 100%;
}

.swiper-slide h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  padding-bottom: 16px;
}

.swiper-slide p {
  color: #6b6b6c;
  padding-bottom: 32px;
}

.swiper-slide span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  padding-bottom: 10px;
  border-bottom: 3px solid #ffce50;
}

.swiper-pagination {
}

.swiper-pagination-bullet-active {
  width: 18px;
  height: 18px;
  background: #0b7572;
}

.swiper-pagination-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

/* clients */

.client {
  margin: 120px 0;
}

.client__bg {
  background: #0b7572;
  height: 917px;
  background-image: url("../images/hieroglyph.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.client__title {
  color: #ffffff;
  padding: 0px 0 570px 0px;
}

.client__wrap {
  width: 660px;
  background: #ffffff;
}
.client__wrap--info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 28px;
}

.client__wrap--info p {
  max-width: 277px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
}

.client__table {
}

.table {
  background: #f9f9fb;
  padding: 28px;
}

.thead {
  background: #0b7572;
  color: #ffffff;
  height: 45px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.thead th {
  padding: 15px 35px;
}

td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 35px 7px;
  text-align: left;
}
.reiting {
  display: flex;
}

.table__img {
  max-width: 100%;
}

.table__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
  color: #000;
  padding-bottom: 10px;
}

.table__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #6b6b6c;
  padding-bottom: 10px;
}

.table__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 135%;
  color: #363738;
}

.table__span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
  color: #363738;
}

.table__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #6b6b6c;
}

/* logistic */

.logistic {
  margin-bottom: 120px;
}

.logistic__title {
  margin-bottom: 28px;
}

.logistic__item--number {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 125%;
  color: #ffffff;
  background: #0b7572;
  border: 4px solid #0b7572;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  width: 159px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logistic__item {
  display: flex;
  align-items: center;
}

.logistic__item + .logistic__item {
  margin-top: 24px;
}

.logistic__item--wrap {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 32px 132px 32px 96px;
  margin-left: -39px;
}

.logistic__item--text {
  padding-left: 56px;
  position: relative;
}

.logistic__item--text h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #363738;
  padding-bottom: 24px;
}

.logistic__item--text h3::after {
  content: url(../images/line__yellow.png);
  position: absolute;
  top: 24px;
  left: 55px;
  width: 0px;
  background: #ffce50;
}

.logistic__item--text p {
  padding-top: 24px;
  color: #6b6b6c;
}

/* trust */

.trust {
}

.trust__title {
  margin-bottom: 90px;
}

.trust__items {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 80px;
}
.trust__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 195px;
}

.trust__item img {
  padding-bottom: 32px;
  display: block;
  max-width: 100%;
}

.trust__item:hover img {
  transform: scale(1.2);
}

.trust__item--text {

}

.trust__item--text h3 {
  padding-bottom: 14px;
}

.trust__item--text p {
}
